@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 95vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa; }

button:hover, a:hover {
  cursor: pointer; }

.btn-primary {
  font-size: 14px;
  background-color: #cc0000;
  border: 1px solid #cc0000; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #990000;
    border: 1px solid #990000;
    box-shadow: none !important;
    outline: none !important; }

.form-control {
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid #e8e8e8;
  font-size: 14px; }
  .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form-control:focus {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid #e8e8e8; }
